{% extends './layout.html' %}

{% block title %} Favourites - {{ name }} {% endblock %}

{% block nav %}
<!-- Navigation-->
<nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top" id="mainNav">
    <div class="container">
        <a href="{{ url_for('index') }}/{{ name }}"><img class="navbar-brand" src="{{ url_for('static', filename='icons/modified_tranparent_logo.png') }}" width="114" height="70" alt="..."></img></a>
        <button class="btn btn-primary navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            {{ name }}
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}/{{ name }}/favourites">Favourites</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
        </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block masthead %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-4">Searchem Tool</h1>
                            <h2 class="mb-0"><i>Your favourites</i></h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% endblock %}

{% block body %}
        <!-- Icons Grid-->
        <div class="container my-1">
            {% if not favs %}
                <div class="container">
                    <br>
                    <br>
                    <h5 class="text-center text-muted">Sorry, your favourites list is empty</h5>
                    <br>
                    <br>
                </div>
                {% else %}
                            <div class="modal-signin position-static" id="modalSignin">
                                <div >
                                    <div class="modal-content rounded shadow">
                                        <label for="st1" class="offset-1 mt-3">
                                            <h4 class="text-center">Favourites list</h4> 
                                        </label>
                                        <hr style="width: 98%;" class="my-7 ms-2">
                                        <div class="row mt-2" style="align-items: center; align-content: center;">
                                                <div class="col ms-4">
                                                    <div class="row" style="align-items: center; align-content: center;">

                                                        <h6>Name</h6>
                                                    </div>
                                                </div>
                                                <div class="col ms-3">
                                                    <div class="row" style="align-items: center; align-content: center;">
                                                        <h6>ID</h6>
                                                    </div>
                                                </div>
                                                <div class="col ms-3">
                                                    <h6>Type</h6>
                                                </div>
                                                <div class="col ms-3">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        
                                        {% for i in favs %}
                                        <div class="row" style="align-items: center; align-content: center; justify-content: center;">

                                            <div class="col ms-3">
                                                    <div class="col mb-2">
                                                        <h6>{{ i[0][0]| capitalize }}</h6>
                                                    </div>
                                            </div>                    
                                            <div class="col ms-3">
                                                   
                                                        <div class="col mb-2">
                                                            <h6>{{ i[0][1]| capitalize }}</h6>
                                                        </div>
                                            </div>            
                                            <div class="col ms-3">
                                                    <div class="col mb-2">
                                                        <h6>{{ i[0][2]| capitalize }}</h6>
                                                    </div>
                                            </div>  
                                            <div class="col ms-3 mb-2">        
                                                    <button style="background-color: transparent; border-color: transparent;"><a href="{{ url_for('del_checkbox') }}/{{ i[0][1] }}"><img src="{{ url_for('static', filename='icons/remove.png') }}" style="width: 20px;"></img></a></button>       
                                            </div>   
                                        </div>            
                                        {% endfor %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
        </section>
        
    {% endblock %}
</html>