{% extends './layout.html' %}

{% block title %} Searchem Tool {% endblock %}


{% block nav %}
<!-- Navigation-->
<nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top" id="mainNav">
    <div class="container">
        <a href="/"><img class="navbar-brand" src="../static/icons/modified_tranparent_logo.svg" width="114" height="70" alt="..." style="margin-left: 0%;"></img></a>
        <a class="btn btn-primary" href="/signin">Sign In</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block masthead %}
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center cb1">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Searchem Tool</h1>
                    <!-- Signup form-->
                    <form action="/results" method="post" class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" name="search" type="text" placeholder="Search in Searchem Tool" />
                            </div>
                            <div class="col-auto"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Search</button></div>
                        </div>
                        <h1></h1>
                        <p></p>
                        <div class="checkbox mb-3 text-white">
                            <p class="text-white">Searching for molecules by default, otherwise mark the target option</p>
                            <label>
                                <input type="radio" name="type" value="molecule" checked> Molecule
                            </label>
                            <label>
                                <input type="radio" name="type" value="target" class="ms-3"> Target
                            </label>
                            <p></p>
                            <label>
                                <input type="checkbox" name="agonist"> Agonist
                            </label>
                            <label>
                                <input type="checkbox" name="antagonist" class="ms-3"> Antagonist
                            </label>
                            <p></p>
                            <label>
                                <input type="checkbox" name="fisher"> Fisher Scientific 
                            </label>
                            <label>
                               <input type="checkbox" name="selleckchem" class="ms-3"> Selleckchem  
                            <label>
                                  <input type="checkbox" name="sigma" class="ms-3"> Sigma-Aldrich
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block body %}

  <!-- Icons Grid-->
  <section class="bg-light">
    {% for v in mol %}
      {% if not mol[v] %}
          <div class="container">
            <br>
            <br>
              <h5 class="text-center text-muted">Sorry, any result has been found</h5>
            <br>
            <br>
          </div>
      {% else %}
        {% for r in mol[v] %}
            <div class="container my-1">
                <div class="modal-signin position-static d-block my-2" id="modalSignin">
                    <div>
                        <div class="modal-content rounded shadow">
                            <div class="row mt-2" style="align-items: center; align-content: center;">
                                <div class="col  ms-3">
                                    <h3>{{ r[1]|capitalize }}</h3>
                                </div>
                                <div class="col-auto me-3">
                                    <h3>{{ r[3]|capitalize }}</h3>
                                </div> 
                            </div>    
                            <hr style="width: 98%;" class="mt-0 ms-2">
                            {% for i in range(0,brands|length) %}
                                <div class="row text-center" style="align-items: start;">
                                    <div class="col ms-2 mb-2">
                                        <h6>{{ r[4]|capitalize }}</h6>
                                    </div>
                                    <div class="col ms-2 mb-2">
                                        <h6>{{ brands[i] }}</h6>
                                    </div>
                                    <div class="col mb-2 ms-auto">
                                        <a href="{{ r[5+i] }}" target="_blank"><img style="height: 8%; width: 8%;" src="../static/icons/cart.png"/></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
      {% endif %}
    </section>
    {% endfor %}
    
  {% endblock %}
</html>